###OSX###

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


###Node###

pids
logs
results

npm-debug.log
node_modules

###PhPStorm###

.idea/

###SublimeText###

# SublimeText project files
*.sublime-workspace

# bower
bower_components